<header id="cabecera">
  <div id="logo">
    CRUD ANGULAR
  </div>
  
  <input id="buscarEmpleado" [(ngModel)]="filtro" type="text" placeholder="buscar Empleado"/>

</header>


<div id="verEmpleado" class="Caja" (click)="presentarEmpleado()">

  Ver Empleados

</div>

<div id="verAgregarEmpleado" class="Caja" (click)="vistaAgregarEmpleado()">

  Agregar Empleado

</div>


<div id="ContenedorAgregar">

  <div class="titulo">
    <h1>Agregar Empleado</h1>
  </div>
  

  <form id="Formulario">
    <p><input type="text" placeholder="Nombre"  name="nombre"  [(ngModel)]="empleadoSeleccionado.nombre"/></p> 
    <p><input type="text" placeholder="apellido"  name="apellido" [(ngModel)]="empleadoSeleccionado.apellido"/></p> 
    <p><input type="number" placeholder="edad"  name="edad" [(ngModel)]="empleadoSeleccionado.edad"/></p> 
    <p><input type="number" placeholder="sueldo" name="sueldo"  [(ngModel)]="empleadoSeleccionado.sueldo"/></p> 

    <button id="btnGuardar" (click)="guardarEditarEmpleado()">Guardar</button>
    <button id="btnEliminar" (click)="eliminarEmpleado()" *ngIf="empleadoSeleccionado.id !=0">Eliminar</button>
  </form>
   
</div>


<div id="cajaEmpleados">
  <div class="titulo">
    <h1>Lista de Empleados</h1>
  </div>

  <div id="cajaListaEmpleados" *ngIf="empleados">
      <ul>
        <li *ngFor="let empleado of empleados | busqueda:filtro" (click)="clickListaEmpleado(empleado)">
        <span id="cajaId" >
          {{empleado.id}}
        </span> 
           {{empleado.nombre}}
           {{empleado.apellido}}
           {{empleado.edad + " " + "Años"}}
           {{empleado.sueldo + "$"}}



        </li>
      </ul>
  </div>

</div>