<header id="cabecera">
  <div id="logo">
    CRUD ANGULAR
  </div>  

</header>

<div id="ContenedorAgregar">

  <div id="titulo">
    <h1>Agregar Empleado</h1>
  </div>
  

  <form id="Formulario">
    <p><input type="text" placeholder="Nombre"/></p> 
    <p><input type="text" placeholder="apellido"/></p> 
    <p><input type="text" placeholder="telefono"/></p> 
    <p><input type="number" placeholder="sueldo"/></p> 

    <button id="btnGuardar">Guardar</button>
    <button id="btnEliminar">Eliminar</button>
  </form>
 

  
</div>