*
{
    margin: 0px;
    padding: 0px;
}


/*cabecera*/
#cabecera
{
    width: 100%;
    height: 60px;
    background-color: deepskyblue;
}

#logo
{
    width: 20%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 54px;
    color: white;
    font-size: x-large;
    text-align: center;
    font-style: oblique;
}


/*formulario*/

#ContenedorAgregar
{
    display: none;
    margin: 0px auto;
    margin-top: 100px;
    width: 50%;
    height: 500px;
    box-shadow: 0px 0px 5px gray inset;
}

#cajaEmpleados
{
    
    margin: 0px auto;
    margin-top: 100px;
    width: 50%;
    height: 500px;
    box-shadow: 0px 0px 5px gray inset;
}


.titulo
{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: deepskyblue;
    
}


h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}


#Formulario
{
    width: 80%;
    height: 70%;
    margin: 0px auto;
    margin-top: 40px;
}

#Formulario input[type="text"],
#Formulario input[type="number"]
{
    width: 80%;
    height: 40px;
    margin: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 56px;
}

button
{
    width: 218px;
    height: 45px;
    margin-left: 55px;
    cursor: pointer;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#btnGuardar
{
    background-color: deepskyblue;
    
    
}

#btnEliminar
{
    background-color: rgb(228, 47, 47);
 
}

#btnGuardar:hover
{
    background-color: rgb(66, 175, 211);
    
}

#btnEliminar:hover
{
    background-color: rgb(172, 16, 16);
}



.Caja
{
    width: 190px;
    height: 47px;
    border: 1px solid deepskyblue;
    position: absolute;
    left: 385px;
    top: 112px;
    text-align: center;
    line-height: 47px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color: black;
    color: white;
}

.Caja:hover
{
    text-decoration: underline;
}


/*caja empleado*/

#cajaListaEmpleados
{
    width: 100%;
    height: 88%;
   
    
}

#cajaListaEmpleados ul
{
    width: 100%;
    height: 100%;
    list-style: none;
}

#cajaListaEmpleados ul li
{
    width: 97%;
    height: 70px;
    line-height: 70px;
    background-color: black;
    color: white;
    text-align: left;
    margin: 10px;
    cursor: pointer;
    border-radius: 13px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}